/* structure  and theme */
.gallery-app,
.album-user,
.user-app {
  text-align: left;
  width: 960px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__header,
  &__body,
  &__footer {
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
  }

  &-link {
    color: #61dafb;
  }
}

.listed-images,
.listed-users,
.listed-albums {
  ul {
    margin-top: 0;
    padding: 20px;
    background-color: var(--bg-secondary);
    li,
    .user-item {
      width: 25%;
      display: inline-block;
      padding: 0;
      vertical-align: top;

      &:hover {
        background-color: var(--bg-secondary-hover);
        cursor: pointer;
      }
    }
  }
}

#abumlist.closed {
  height: 0;

}

#albumlist {
  height: 200px;
  background-color: var(--bg-secondary);
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.close {
  display: block;
  height: auto;
  width: auto;
  color: var(--text-primary);
}
