
:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  // custom vars
  --code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --text-primary: #a5a5a5;
  --text-secondary: #767676;
  --bg-primary: #282c34;
  --bg-secondary: #4d4d4d;
  --bg-secondary-hover: #6d6d6d;
}

/* Base styles */
body {
  background-color: var(--bg-primary);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--code-font);
}

h1, h2, h3, h4, h5 {
  color: var(--text-secondary);
}

p, span {
  color: var(--text-primary);
}

a:link {
  color: whhite;
}

nav {
  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 15px 30px;
      list-style: none;

      a {
        font-size: 2em;
        color: var(--text-primary);
      }
    }
  }

}
