/* structure  and theme */
.user-app {
  text-align: left;
  width: 960px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__header,
  &__body,
  &__footer {
    min-height: 20vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &-link {
    color: #61dafb;
  }
}
