.gallery-app {
  text-align: left;
  width: 960px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.gallery-app-header,
.gallery-app-body {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gallery-app-header {
  align-items: center;
}

.gallery-app-link {
  color: #61dafb;
}
